*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.container{
    background: linear-gradient(135deg, #333, #111);
    min-height: 100vh;
}

/* side menu starts here*/

.side-menu{
    position: fixed;
    width: 10vw;
    height: 100%;
    border-right: 2px solid #555;
    z-index: 3;
}

.side-menu h1{
    text-align: center;
    line-height: 80px;
    color: #999;
}
.social-icon{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
}

.social-icon a i{
    font-size: 35px;
    color: #999;
}

.social-icon a i:hover{
    color: #f1f1f1;
    transform: scale(1.1);
}

/*main starts here*/

.main{
    position: absolute;
    width: calc(100% - 10vw);
    height: 100vh;
    left: 10vw;
    z-index: 2;
}

.title{
    display: none;
}

.top-menu{
    height: 80px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.top-menu ul{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-menu ul li a{
    display: block;
    font-weight: 600;
    color: #999;
}

.top-menu ul li a:hover{
    color: #f1f1f1;
    transform: scale(1.1);
}

/* background starts here */

.home-background{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    z-index: 1;
}
.img-box{
    position: relative;
    width: 90%;
    height: 100%;
}

img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* footer starts here */

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 20px;
    padding: 0 20px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

.content{
    padding: 20px 0;
}

.footer h3{
    color: #888;
    margin-bottom: 10px;
}

.footer p{
    font-size: 14px;
    color: #666;
}

.read-more{
    display: block;
    margin-top: 10px;
    font-size: 13px;
    color: #f1f1f1;
}

/* panels container start here */

.panels-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100% - 230px);
    align-content: center;
    color: #999;
    padding: 0 60px;
}

.left-panel h2{
    margin-bottom: 15px;
    position: relative;
    text-shadow: 0 5px 10px #000;
}

.left-panel h2::before{
    content: "";
    position: absolute;
    width: 100px;
    bottom: -8px;
    left: 0;
    border-bottom: 2px solid#999;
}

.left-panel ul li a{
    display: inline-block;
    color: #999;
    font-size: 14px;
    line-height: 25px;
}

.left-panel ul li a:hover{
    font-size: 16px;
    color: #f1f1f1;
}

.right-panel h2{
    font-size: 100px;
    padding: 20px 0;
    color: #999;
    text-shadow: 0 5px 10px #000;
}

.right-panel p{
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
}

/* resposive starts here */

@media (max-width:1000px){
    .img-box{
        width: 70%;
        height: 90%;
    }
}

@media (max-width:870px){
    .top-menu ul{
        width: 100%;
    }
    .panels-container{
        padding: 0 10px;
    }
}
@media (max-width:665px){
    .img-box{
        width: 100%;
        height: 100%;
    }
    .side-menu{
        display: none;
    }

    .main{
        width: 100%;
        left: 0;
    }
    .top-menu{
        margin-left: 15%;
    }
    .top-menu .title{
        display: block;
        position: fixed;
        left: 10%;
        color: #999;
        z-index: 6;
    }
    .left-panel{
        display: none;
    }
    .panels-container{
        grid-template-columns: 1fr;
        padding: 0 30px;
    }
    .right-panel h2{
        font-size: 50px;
        font-weight: 900;
        padding: 10px 0;
        text-align: center;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(3px);
    }
    .right-panel br{
        display: none;
    }
}

@media (max-width:590px){
    .footer{
        grid-template-columns: 1fr;
        grid-gap: 0;
        padding: 0 10px;
    }
    .footer #Instruction{
        display: inline-block;
    }
    .footer #Project{
        display: inline-block;
    }
    .content{
        padding: 10px 0;
        border-bottom: 1px solid #555;   
    }
    .content:nth-child(2){
        border: none;
    }
    .footer h3{
        margin-bottom: 0;
        font-size: 17px;
    }
}

@media (max-width:520px){
    .img-box{
        transform: scale(1.3);
    }
    .home-background{
        overflow: hidden;
    }
    .right-panel h2{
        font-size: 40px;
    }
    .right-panel p, .footer p{
        font-size: 13px;
    }
    .top-menu ul{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        z-index: 5;
        flex-direction: column;
        justify-content: center;
        transform: translateY(-100%);
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;
    }
    .top-menu ul li{
        padding: 15px;
        font-size: 25px;
    }
    .toggle{
        position: fixed;
        top: 20px;
        right: 10%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background: #999 url(./images/menu.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 6;
    }
    .toggle.active{
        background: #999 url(./images/close.png);
        background-size: 21px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .top-menu.active ul{
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width:360px){
    .img-box{
        height: 127%;
        transform: scale(1.4);
    }
    .right-panel h2{
        font-size: 30px;
        backdrop-filter: blur(5px);
    }
    .right-panel p{
        font-size: 15px;
    }
}
